@font-face {
  font-family: 'blocktext';
  src: url('../assets/fonts/8bitoperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ingametext';
  src: url('../assets/fonts/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
