html, body {
	height: 100%;
	width: 100%;
	background-color: #0B2114;
	overflow: hidden;
}

* {
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#santa-gui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#santa-gui>.title{
    float: left;
    background-image: url('santa_title.jpg');
    width: 100%;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

#qr {
    position: fixed;
    top: 50%;
    margin-top: -225px;
    height: 450px;
    width: 450px;
    left: 100%;
    margin-left: -63px;
}

#qr>.back,
#qr>.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#qr>.front {
    height: 270px;
    top: 58px;
    width: 270px;
    left: 50%;
    margin-left: -135px;
}

#qr>div {
    position: absolute;
    bottom: 85px;
    width: 100%;
    left: 0;
    font-size: 24px;
    color: black;
    text-align: center;
    font-family: Arial;
    text-shadow: 0px 1px #DBB884;
    font-weight: bold;
    border-left: 81px solid transparent;
    border-right: 81px solid transparent;
}


#santa-gui>.tv{
    height: 60%;
    display: inline-block;
}

#santa-gui>.tv>.canvas,
#santa-gui>.tv>.static{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 41%;
    margin-top: -17%;
    margin-left: -27%;
}

#santa-gui>.tv>.static{
    background-image: url(static.gif);
    height: 38%;
    opacity: 0.4;
}

#santa-gui>.tv>.front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}